* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --backgroundPrincipal: #232323;
  --backgroundRojoOscuro: #260000;
  --bordeContainer: #3a0000;
  --backgroundCuadros: #fffafa;
  --backgroundBadges: #260000;
  --backgroundCTA: #c90000;
}
body {
  background-color: var(--backgroundPrincipal);
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  width: 1200px;
  height: auto;
  background-color: var(--backgroundRojoOscuro);
  border: 24px solid var(--bordeContainer);
  border-radius: 80px;
  width: 1200px;
  height: auto;
}
