* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --backgroundPrincipal: #232323;
  --backgroundRojoOscuro: #260000;
  --bordeContainer: #3a0000;
  --backgroundCuadros: #fffafa;
  --backgroundBadges: #ffd9d9;
  --backgroundCTA: #c90000;
}
body {
  background-color: var(--backgroundPrincipal) !important;
  max-width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  height: auto;
  background-color: var(--backgroundRojoOscuro);
  border: 10px solid var(--bordeContainer);
  border-radius: 40px;
  width: 400px;
  height: auto;
}
.presentation {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.presentation .card-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100px;
  width: 90%;
}
.presentation .card-top .image {
  height: 100%;
  width: 100px;
  background-color: var(--backgroundBadges);
  border-radius: 100%;
  display: grid;
  place-items: center;
}
.presentation .card-top .badge {
  width: 120px;
  height: 30px;
  background-color: var(--backgroundBadges);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.presentation .card-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  height: 50%;
}
.presentation .card-bottom .text {
  display: grid;
  place-items: center;
  width: 90%;
}
.presentation .card-bottom .text h1 {
  font-size: 1.5rem;
  width: 100%;
  margin: 0;
  padding: 0;
}

.presentation .card-bottom .button {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.presentation .card-bottom .button button {
  background-color: var(--backgroundCTA);
  width: 250px;
  height: 100%;
  border-radius: 40px;
  border: none;
  outline: none;
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 2px;
  /* box-shadow: 2px 2px 10px var(--backgroundPrincipal); Esto, es para cuando se le haga el Hover =)*/
}
.linkedin {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.linkedin .card-top {
  display: flex;
  justify-content: center;
  align-items: center;
}
.linkedin .card-top .image {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: var(--backgroundBadges);
  display: flex;
  justify-content: center;
  align-items: center;
}
.linkedin .card-top .image i {
  color: var(--bordeContainer);
  width: 90%;
  height: 90%;
  font-size: 2.5rem;
  display: grid;
  place-items: center;
}
.linkedin .card-top .badge {
  display: none;
}
.linkedin .card-bottom {
  font-size: 1.2rem;
  font-weight: 600;
}
.project {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.project .card-top {
  width: 100%;
  height: 100px;
  display: grid;
  place-items: center;
}
.project .card-top .image {
  width: 90%;
  height: 100%;
  border-radius: 20px;
  background-color: #d9d9d9;
}
.project .card-top .badges-container {
  display: none;
}
.project .card-bottom {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.project .card-bottom .text {
  width: 90%;
}
.project .card-bottom .text h3 {
  font-size: 1.3rem;
  font-weight: 700;
}
.project .card-bottom .text p {
  display: none;
}
.project .card-bottom .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.project .card-bottom .buttons button {
  height: 40px;
  width: 40px;
  display: grid;
  place-items: center;
  border-radius: 100%;
  border: none;
  outline: none;
  background-color: var(--backgroundCTA);
}
.project .card-bottom .buttons button i {
  font-size: 1.5rem;
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--backgroundCuadros);
}
.social-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.social-card .card-top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}
.social-card .card-top .badge {
  display: none;
}
.social-card .card-top .image {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: var(--backgroundBadges);
  display: grid;
  place-items: center;
}
.social-card .card-top .image i {
  display: grid;
  place-items: center;
  width: 90%;
  height: 90%;
  font-size: 2rem;
  color: var(--bordeContainer);
}

@media (min-width: 1024px) {
  .container {
    width: 1200px;
    border-radius: 80px;
  }
  .presentation .card-top {
    height: 200px;
  }
  .presentation .card-top .image {
    width: 200px;
  }
  .presentation .card-top .badge {
    width: 200px;
    height: 50px;
  }
  .presentation .card-bottom {
    align-items: flex-start;
    text-align: start;
    height: 30%;
    width: 90%;
  }
  .presentation .card-bottom .text {
    width: 90%;
  }
  .presentation .card-bottom .text h1 {
    font-size: 2rem;
    font-weight: 700;
  }
  .presentation .card-bottom .button {
    height: 60px;
    justify-content: flex-start;
  }
  .presentation .card-bottom .button button {
    width: 400px;
  }
  .linkedin {
    justify-content: space-around;
  }
  .linkedin .card-top {
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
  }
  .linkedin .card-top .image {
    width: 100px;
    height: 100px;
  }
  .linkedin .card-top .image i {
    font-size: 3.5rem;
  }
  .linkedin .card-top .badge {
    display: grid;
    place-items: center;
    width: 140px;
    height: 40px;
    background-color: var(--backgroundBadges);
    border-radius: 100px;
  }
  .linkedin .card-bottom {
    text-align: left;
    width: 90%;
    font-size: 2rem;
    font-weight: 500;
  }
  .main-project {
    justify-content: space-around;
  }
  .main-project .card-top {
    width: 90%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main-project .card-top .image {
    width: 150px;
    height: 100%;
    border-radius: 100%;
  }
  .main-project .card-top .badges-container {
    display: flex;
    align-items: flex-start;
    height: 100%;
    justify-content: space-between;
    width: 60%;
  }
  .main-project .card-top .badge {
    display: grid;
    place-items: center;
    border-radius: 100px;
    background-color: var(--backgroundBadges);
    width: 120px;
    height: 40px;
  }
  .main-project .card-bottom {
    height: auto;
  }
  .main-project .card-bottom .text {
    width: 90%;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  .main-project .card-bottom .text h3 {
    font-size: 1.9rem;
  }

  .main-project .card-bottom .text p {
    display: block;
    font-size: 1.4rem;
  }
  .main-project .card-bottom .buttons {
    display: none;
  }
  .secondary-project .card-top {
    height: 300px;
    width: 90%;
  }
  .secondary-project .card-bottom {
    display: grid;
    place-items: center;
  }
  .secondary-project .card-top .image {
    height: 100%;
  }
  .secondary-project .card-bottom .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 65%;
  }
  .secondary-project .card-bottom .text h3 {
    font-size: 1.9rem;
  }
  .secondary-project .card-bottom .text p {
    display: block;
    font-size: 1.5rem;
    width: 70%;
  }
  .secondary-project .card-bottom .buttons {
    height: 80px;
    width: 70%;
  }
  .secondary-project .card-bottom .buttons button {
    height: 100%;
    width: 80px;
  }
  .secondary-project .card-bottom .buttons button i {
    font-size: 3rem;
  }
  .social-card {
    justify-content: space-around;
  }
  .social-card .card-top {
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    height: 100px;
  }
  .social-card .card-top .image {
    width: 100px;
    height: 100%;
  }
  .social-card .card-top .image i {
    font-size: 3.5rem;
  }
  .social-card .card-top .badge {
    display: grid;
    background-color: var(--backgroundBadges);
    width: 140px;
    height: 40px;
    border-radius: 100px;
    place-items: center;
  }
  .social-card .text h5 {
    font-size: 2.5rem;
    font-weight: 100;
  }
}
